html, body {
  height: 100%;
  margin: 0;
}

header {
  position: absolute;
  right: 20px;   
  top: 20px;    
}

.cover-nav {
  margin-bottom: 2rem;
}

.cover-nav a {
  color: rgb(255, 255, 255);
  margin: 0 0.5rem;
  text-decoration: none;
}

.cover-nav a:hover {
  text-decoration: underline;
}

body {
  background: url("your-background.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: rgba(135, 135, 135, 0.5);
}


.cover-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  color: rgb(0, 0, 0);
}

.cover-heading {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.cover-text {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

