html, body {
  height: 100%;
  margin: 0;
}

header {
  position: absolute;
  right: 20px;   
  top: 20px;    
}

.cover-nav {
  margin-bottom: 2rem;
}

.cover-nav a {
  color: rgb(0, 0, 0);
  margin: 0 0.5rem;
  text-decoration: none;
}

.cover-nav a:hover {
  text-decoration: underline;
}

body {
  background-color: rgb(255, 255, 255);
}
